[Desktop Entry]
Name=Reflection
Name[ca]=Reflection
Name[ca@valencia]=Reflection
Name[da]=Reflection
Name[en_GB]=Reflection
Name[es]=Reflection
Name[fi]=Reflection
Name[gl]=Reflection
Name[it]=Reflection
Name[nl]=Reflection
Name[nn]=Reflection
Name[pl]=Reflection
Name[pt]=Reflection
Name[pt_BR]=Reflection
Name[sk]=Reflection
Name[sl]=Reflection
Name[sr]=Reflection
Name[sr@ijekavian]=Reflection
Name[sr@ijekavianlatin]=Reflection
Name[sr@latin]=Reflection
Name[sv]=Reflection
Name[uk]=Reflection
Name[x-test]=xxReflectionxx
Name[zh_CN]=Reflection
Name[zh_TW]=Reflection
X-KDE-PluginInfo-Name=Reflection
X-KDE-PluginInfo-Author=Puscifer91
X-KDE-PluginInfo-Website=http://puscifer91.deviantart.com/art/Reflection-Wallpaper-4K-500312208
X-KDE-PluginInfo-License=GPL
