[Desktop Entry]
Categories=Network;FileTransfer;P2P;Qt;
Comment[pl_PL]=Pobieraj i dziel się plikami przez BitTorrent
Comment=Download and share files over BitTorrent
Exec=qbittorrent %U
GenericName[pl_PL]=Klient BitTorrent
GenericName=BitTorrent client
Icon=qbittorrent
Keywords=bittorrent;torrent;magnet;download;p2p;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Name[pl_PL]=qBittorrent
Name=qBittorrent
StartupNotify=false
StartupWMClass=qbittorrent
Terminal=false
Type=Application
