#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Keep – notatki i listy
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hmjkmjkepdijhoojdojkdfohbdgmmhki
Icon=chrome-hmjkmjkepdijhoojdojkdfohbdgmmhki-Default
NoDisplay=true
StartupWMClass=crx_hmjkmjkepdijhoojdojkdfohbdgmmhki
