[Desktop Entry]
Name=Abstract Gray
Name[ca]=Abstract Gray
Name[ca@valencia]=Abstract Gray
Name[da]=Abstract Gray
Name[en_GB]=Abstract Gray
Name[es]=Abstract Gray
Name[fi]=Abstract Gray
Name[gl]=Abstract Gray
Name[it]=Abstract Gray
Name[nl]=Abstract Gray
Name[nn]=Abstract Gray
Name[pl]=Abstract Gray
Name[pt]=Abstract Gray
Name[pt_BR]=Abstract Gray
Name[sk]=Abstract Gray
Name[sl]=Abstract Gray
Name[sr]=Abstract Gray
Name[sr@ijekavian]=Abstract Gray
Name[sr@ijekavianlatin]=Abstract Gray
Name[sr@latin]=Abstract Gray
Name[sv]=Abstract Gray
Name[uk]=Abstract Gray
Name[x-test]=xxAbstract Grayxx
Name[zh_CN]=Abstract Gray
Name[zh_TW]=Abstract Gray
X-KDE-PluginInfo-Name=Abstract Gray
X-KDE-PluginInfo-Author=unknown
X-KDE-PluginInfo-Website=http://wallpaperswide.com/abstract_graphic_design__gray-wallpapers.html
X-KDE-PluginInfo-License=unknown
